body {
  background-color: #152238; 
  /*font-family: 'Arial, sans-serif';*/
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  height: 100vh;
  margin: 0;
  padding-left: 20px;
  gap:20px; 
}


.cytoscape-container {
  position: absolute;
  right: 0;
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  background-color: lightgray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-text {
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.matrix-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
pre {
  margin: 0;
  padding: 5px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
