.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  height: 100vh;
  margin: 0;
  padding-left: 20px;
  gap:20px;
}

.cytoscape-container {
  position: absolute; /* Positions the div absolutely relative to the nearest positioned ancestor */
  right: 0; /* Aligns the div to the right edge of the screen */
  border: 2px solid black; /* Sets a 2px solid black border */
  padding: 10px; /* Adds some padding inside the div */
  margin: 20px; /* Adds some margin outside the div */
  background-color: lightgray; /* Adds a background color to make it visible */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.matrix-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap between the button and the matrix as needed */
}
pre {
  margin: 0;
  padding: 5px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
